@tailwind base;
@tailwind components;
@tailwind utilities;

.primaryBlue{
    color: #0069D1;
}

.textBoxBackground{
    background: #e4ecee9f;
}

.customBackground {
    background-color: #F1F6F8;
    box-shadow: 0px 1px 1px 0px #00000014, 0px 2px 1px 0px #0000000F, 0px 1px 3px 0px #0000001A;
}